/* Färgkoder, fontstyling */

/* Fontstyling */
$font-stack: "Montserrat", sans-serif;
$header-font-size: 3em;
$second-header-font-size: 2em;
$jobcontainer-header: 1.6em;
$font-weight: 400;
$menu-links-fontsize: 20px;

/* Färger */
$body-background: rgb(233, 233, 233);
$main-background: rgb(247, 247, 247);
$menu-background: rgb(155, 159, 182);
$menu-links-color: rgb(43, 43, 43);
$form-button-color: #5f90b4;
$form-button-hover-color: #3c80b1;
